# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# Para el frontend
reactchatjotaqube/logs
reactchatjotaqube/*.log
reactchatjotaqube/npm-debug.log*
reactchatjotaqube/yarn-debug.log*
reactchatjotaqube/yarn-error.log*
reactchatjotaqube/pnpm-debug.log*
reactchatjotaqube/lerna-debug.log*

reactchatjotaqube/node_modules
reactchatjotaqube/dist
reactchatjotaqube/dist-ssr
reactchatjotaqube/*.local

reactchatjotaqube/.vscode/*
reactchatjotaqube/!.vscode/extensions.json
reactchatjotaqube/.idea
reactchatjotaqube/.DS_Store
reactchatjotaqube/*.suo
reactchatjotaqube/*.ntvs*
reactchatjotaqube/*.njsproj
reactchatjotaqube/*.sln
reactchatjotaqube/*.sw?

# Para el backend
NodeServerJotaqube/logs
NodeServerJotaqube/*.log
NodeServerJotaqube/npm-debug.log*
NodeServerJotaqube/yarn-debug.log*
NodeServerJotaqube/yarn-error.log*
NodeServerJotaqube/pnpm-debug.log*
NodeServerJotaqube/lerna-debug.log*

NodeServerJotaqube/node_modules
NodeServerJotaqube/dist
NodeServerJotaqube/dist-ssr
NodeServerJotaqube/*.local

NodeServerJotaqube/.vscode/*
NodeServerJotaqube/!.vscode/extensions.json
NodeServerJotaqube/.idea
NodeServerJotaqube/.DS_Store
NodeServerJotaqube/*.suo
NodeServerJotaqube/*.ntvs*
NodeServerJotaqube/*.njsproj
NodeServerJotaqube/*.sln
NodeServerJotaqube/*.sw?

